/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    color: #777;
    box-sizing: border-box;
    font-family: "Lato", Sans-Serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.7;
    padding: 3rem;
}

.btn:link,
.btn:visited {
    border-radius: 999rem;
    display: inline-block;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: transform .3s;
}

.btn::after {
    border-radius: 999rem;
    content: '';
    display: inline-block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: all .3s;
    width: 100%;
    z-index: -1;
}

.btn:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
    transform: translateY(-.3rem);
}

.btn:hover::after {
    opacity: 0;
    transform: scaleX(1.4) scaleY(1.6);
}

.btn:active {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    transform: translateY(-.1rem);
}

.btn-cta {
    animation: moveInBottom 1s ease-out .5s;
    animation-fill-mode: backwards;
}

.btn-white {
    background-color: #FFF;
    color: #777;
    padding: 1.5rem 4rem;
}

.btn-white::after {
    background-color: #fff;
}

.header {
    background-image: linear-gradient(
            to right bottom,
            rgba(126, 213, 111, .8),
            rgba(40, 180, 133, .8)),
    url('../img/hero.jpg');
    background-position: top;
    background-size: cover;
    height: 95vh;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.heading-primary {
    color: #FFF;
    margin-bottom: 6rem;
    text-transform: uppercase;
    backface-visibility: hidden;
}

.heading-primary-main {
    animation: moveInLeft 1s ease-out;
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

}

.heading-primary-sub {
    animation: moveInRight 1s ease-out;
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(10rem);
    }

    80% {
        transform: translateY(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(10rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(40rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.logo {
    height: 3.5rem;
}

.logo-box {
    left: 4rem;
    position: absolute;
    top: 4rem;
}

.text-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 50%;
    position: absolute;
    top: 40%;
    transform: translate(-50%, -50%);
}
