@mixin background-image-linear-gradient($image-path: 'none', $direction: to right bottom, $color-start: $color-primary-light, $color-end: $color-primary-dark, $opacity: .8) {
  @if $image-path == 'none' {
    background-image: linear-gradient(
            $direction,
            rgba($color-start, $opacity),
            rgba($color-end, $opacity));
  } @else {
    background-image: linear-gradient(
            $direction,
            rgba($color-start, $opacity),
            rgba($color-end, $opacity)),
    url($image-path);
  }
}

@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin gradient-text {
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  background-clip: text;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
}
