// COLORS - naming convention from https://coolors.co/
$color-black: #000;
$color-jungle-green: #28B485;
$color-paris-green: #55C57A;
$color-pastel-green: #7ED56F;
$color-sonic-silver: #777;
$color-white: #FFF;
$color-white-smoke: #F7F7F7;

// MAIN THEME COLORS
$color-primary: $color-paris-green;
$color-primary-dark: $color-jungle-green;
$color-primary-light: $color-pastel-green;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-horizontal: 6rem;
$gutter-vertical: 8rem;
